body{
    background-color: #26292a;
    background-image: url(../backgrounds/shattered-island.gif);
}


.site_tab table{
    width: 85%;
    border-spacing: 24px;
    margin-left: auto;
    margin-right: auto;
}


.site_tab img{
    max-width: 256px;
    max-height: 64px;
}
